In [1]:
from rtgemlib import RTGEM
from rtgemlib import sample_from_tgem, LogLikelihood, scoreBic, mle_lambdas, LocaleLogLikelihood, get_count_duration_df, get_node_LogLikelihood, set_pcv_lambda_t, backward_neighbors_gen,\
compute_logLikelihood, set_nodes_timeseries, set_nodes_parents_counts, duration, get_parents_count_vector, forward_neighbors_gen, initModelFromData

from tqdm.autonotebook import tqdm
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx

C:\Users\MOTALY\Anaconda3\lib\site-packages\tqdm\autonotebook\__init__.py:14: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  " (e.g. in jupyter console)", TqdmExperimentalWarning)

In [2]:
def empty_nodes(nodes):
    return dict(zip(nodes, [{'timescales': {}, 'lambdas': {(): 1}}] * len(nodes)))

In [3]:
model = {'B': 
            {
            'timescales': {'A' : [[1,2], [5, 6]]},\
            'lambdas': {
                       (0,0): 10, \
                       (0,1): 1.6, \
                       (1,0): 3, \
                       (1,1) : 1
                      }
            },
            'A': {
                'timescales': {'B': [[0,1], [10,15]]},\
                'lambdas': {
                       (0,0): 1, \
                       (0,1): 4, \
                       (1,0): 5, \
                       (1,1) : 9
                      }
            }
        }

In [4]:
rtgem_model = RTGEM(model)

In [ ]:
t_max = 10000

## Sampling

In [ ]:
sampled_data = sample_from_tgem(rtgem_model, t_min=0, t_max=t_max)

A Jupyter Widget

A Jupyter Widget

In [ ]:
set_pcv_lambda_t(model=rtgem_model, data=sampled_data, t_max=t_max)

In [ ]:
count_duration_df = get_count_duration_df(model=rtgem_model, data=sampled_data, t_max=t_max)

In [ ]:
count_duration_df

## Likelihood

In [ ]:
compute_logLikelihood(count_duration_df)

In [ ]:
LogLikelihood(model=rtgem_model, observed_data=sampled_data, t_max=t_max)

## Parameters learning (lambdas)

In [ ]:
mle_lambdas(data=sampled_data, model=rtgem_model, t_max=t_max)

## Structure learning

### Modèle de référence

In [3]:
rtgem_model = RTGEM(empty_nodes(['A', 'B']), default_end_timescale=1)

In [4]:
rtgem_model.add_edge_operator(('A', 'A'))
rtgem_model.add_edge_operator(('A', 'B'))
rtgem_model.add_edge_operator(('B', 'A'))

In [5]:
rtgem_model.split_operator(edge=('A', 'A'), timescale=[0,1])

In [6]:
rtgem_model.extend_operator(edge=('A', 'B'))

In [7]:
sampled_data = sample_from_tgem(rtgem_model, t_min=0, t_max=10000)

A Jupyter Widget

A Jupyter Widget

A Jupyter Widget

In [8]:
t_max = 100
data = sampled_data[sampled_data['time'] < t_max]

In [9]:
initModelFromData(model=rtgem_model, observed_data=data, t_max=t_max)

In [10]:
count_duration_df = get_count_duration_df(model=rtgem_model, data=data, t_max=t_max)

In [11]:
count_duration_df

   event        pcv  lambda_t   duration  count
0      A  (0, 0, 0)  1.754941   0.660267      0
1      A  (0, 0, 1)  4.972062   0.243973      0
2      A  (0, 1, 0)  8.435874   0.000000      0
3      A  (0, 1, 1)  4.723642   4.288426      0
4      A  (1, 0, 0)  1.411243   0.231936      1
5      A  (1, 0, 1)  8.034890   4.556489     39
6      A  (1, 1, 0)  3.428519   0.000000      0
7      A  (1, 1, 1)  7.173950  90.018909    660
8      B     (0, 0)  1.383047   0.660267      0
9      B     (0, 1)  1.102118   0.243973      1
10     B     (1, 0)  6.779157   1.243973     15
11     B     (1, 1)  7.678948  97.851787    751

In [12]:
compute_logLikelihood(count_duration_df) - rtgem_model.size() * np.log(t_max)

1420.1849614716812

### Forward Search

In [13]:
import itertools
import random
import copy

In [14]:
def empty_nodes(nodes):
    return dict(zip(nodes, [{'timescales': {}, 'lambdas': {(): 1}}] * len(nodes)))

In [15]:
model = RTGEM(empty_nodes(['A', 'B']),  default_end_timescale=1)

#### Initialisation

In [16]:
initModelFromData(model, data, t_max)

In [17]:
count_duration_df = get_count_duration_df(model=model, data=data, t_max=t_max)

In [18]:
lambdas_count_duration_df = mle_lambdas(model=model, count_and_duration=count_duration_df)

In [19]:
lambdas_count_duration_df

  event pcv  lambda_t  duration  count
0     A  ()      7.00       100    700
1     B  ()      7.67       100    767

In [20]:
model.dpd_graph.nodes.data('lambdas')

NodeDataView({'A': {(): 7.0}, 'B': {(): 7.67}}, data='lambdas')

In [21]:
LogL = compute_logLikelihood(lambdas_count_duration_df)
log_td = np.log(t_max)

size_log_td = model.size() * log_td

score = LogL - size_log_td
local_maximum = False
nodes = list(model.dpd_graph.nodes)
possible_edges = list(itertools.product(nodes, repeat = 2))

random.shuffle(possible_edges)

In [22]:
score

1448.5486079625623

In [23]:
scoreBic(model=model, observed_data=data, t_max=t_max)

1448.5486079625623

In [24]:
it = 0
forward_logs = []
while not local_maximum:
    #     max_ngbr_score = -np.inf
    local_maximum = True
    max_score_ngbr = -np.inf
    max_op = None
    max_args = None
    max_changed_node_cnt_drt_df = None
    max_size_log_td_ngbr = None
    max_LogL_ngbr = None
    print('iteration number: {}: scoreBIC = {}'.format(it, score))
    for ngbr_info in forward_neighbors_gen(model, data, t_max, lambdas_count_duration_df,LogL, size_log_td, log_td,\
                                           possible_edges):

        op, args, LogL_ngbr, size_log_td_ngbr, changed_node_cnt_drt_df = ngbr_info
        score_ngbr = LogL_ngbr - size_log_td_ngbr

        if score_ngbr > max_score_ngbr:
            max_score_ngbr = score_ngbr
            max_op = op
            max_args = args
            max_changed_node_cnt_drt_df = changed_node_cnt_drt_df
            max_size_log_td_ngbr = size_log_td_ngbr
            max_LogL_ngbr = LogL_ngbr
    print('max ngbr {}, args={}, max_scoreBIC = {}'.format(max_op, max_args, max_score_ngbr))
 
    if max_score_ngbr > score:
        max_op(*max_args)
        LogL = max_LogL_ngbr
        size_log_td = max_size_log_td_ngbr
        changed_node = max_changed_node_cnt_drt_df.iloc[0]['event']
        lambdas_count_duration_df = lambdas_count_duration_df[lambdas_count_duration_df['event'] != changed_node]
        lambdas_count_duration_df = pd.concat([lambdas_count_duration_df, max_changed_node_cnt_drt_df])

        local_maximum = False
        score = max_score_ngbr
        op_name = 'étendreIntervalle'

        # removes added edge from possible edges
        if max_op == model.add_edge_operator:
            possible_edges.remove(max_args[0])
        # pd.Dataframe(columns=['it', 'T_A', 'T_B', 'edges', 'max_ngbr', 'scoreBic'])
            op_name = 'ajouterArc'
        if max_op == model.split_operator:
            op_name = 'diviserIntervalle'

        forward_logs.append([it, copy.deepcopy(model.get_node_parents_timescales('A')),\
                             copy.deepcopy(model.get_node_parents_timescales('B')),\
                             list(model.dpd_graph.edges()),\
                             op_name,\
                             max_args,\
                             score])
    it += 1

iteration number: 0: scoreBIC = 1448.5486079625623
max ngbr <bound method RTGEM.add_edge_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('B', 'B')], max_scoreBIC = 1450.8173481692425
iteration number: 1: scoreBIC = 1450.8173481692425
max ngbr <bound method RTGEM.split_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('B', 'B'), [0, 1]], max_scoreBIC = 1465.4539263483437
iteration number: 2: scoreBIC = 1465.4539263483437
max ngbr <bound method RTGEM.split_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('B', 'B'), [0, 0.5]], max_scoreBIC = 1554.0114355762498
iteration number: 3: scoreBIC = 1554.0114355762498
max ngbr <bound method RTGEM.split_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('B', 'B'), [0, 0.25]], max_scoreBIC = 1757.2604577383458
iteration number: 4: scoreBIC = 1757.2604577383458
max ngbr <bound method RTGEM.split_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('B', 'B'), [0, 0.125]], max_scoreBIC = 2055.442496088961
iteration number: 5: scoreBIC = 2055.442496088961
max ngbr <bound method RTGEM.split_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('B', 'B'), [0, 0.0625]], max_scoreBIC = 2352.731677595728
iteration number: 6: scoreBIC = 2352.731677595728
max ngbr <bound method RTGEM.split_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('B', 'B'), [0, 0.03125]], max_scoreBIC = 2547.670026699503
iteration number: 7: scoreBIC = 2547.670026699503
max ngbr <bound method RTGEM.add_edge_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('A', 'A')], max_scoreBIC = 2549.423327030633
iteration number: 8: scoreBIC = 2549.423327030633
max ngbr <bound method RTGEM.split_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('A', 'A'), [0, 1]], max_scoreBIC = 2571.4897808033497
iteration number: 9: scoreBIC = 2571.4897808033497
max ngbr <bound method RTGEM.split_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('A', 'A'), [0, 0.5]], max_scoreBIC = 2666.457414287452
iteration number: 10: scoreBIC = 2666.457414287452
max ngbr <bound method RTGEM.split_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('A', 'A'), [0, 0.25]], max_scoreBIC = 2870.035711850769
iteration number: 11: scoreBIC = 2870.035711850769
max ngbr <bound method RTGEM.split_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('A', 'A'), [0, 0.125]], max_scoreBIC = 3132.5225960028597
iteration number: 12: scoreBIC = 3132.5225960028597
max ngbr <bound method RTGEM.split_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('A', 'A'), [0, 0.0625]], max_scoreBIC = 3401.487751627663
iteration number: 13: scoreBIC = 3401.487751627663
max ngbr <bound method RTGEM.split_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('A', 'A'), [0, 0.03125]], max_scoreBIC = 3558.4739531609343
iteration number: 14: scoreBIC = 3558.4739531609343
max ngbr <bound method RTGEM.split_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('B', 'B'), [0, 0.015625]], max_scoreBIC = 3488.8641856843806

In [25]:
initModelFromData(model=model, observed_data=data, t_max=t_max)

In [26]:
count_duration_df = get_count_duration_df(model=model, data=data, t_max=t_max)

In [27]:
mle_lambdas(model, count_duration_df)

    event                    pcv    lambda_t   duration  count
0       A  (0, 0, 0, 0, 0, 0, 0)    0.000000   0.904240      0
1       A  (0, 0, 0, 0, 0, 0, 1)    0.000000   4.288426      0
2       A  (0, 0, 0, 0, 0, 1, 0)    0.000000   0.442450      0
3       A  (0, 0, 0, 0, 0, 1, 1)    0.000000  13.692258      0
4       A  (0, 0, 0, 0, 1, 0, 0)    0.000000   0.426986      0
5       A  (0, 0, 0, 0, 1, 0, 1)    0.000000   3.749556      0
6       A  (0, 0, 0, 0, 1, 1, 0)    0.000000   0.822805      0
7       A  (0, 0, 0, 0, 1, 1, 1)    0.000000  18.301596      0
8       A  (0, 0, 0, 1, 0, 0, 0)    0.000000   0.250383      0
9       A  (0, 0, 0, 1, 0, 0, 1)    0.000000   1.637119      0
10      A  (0, 0, 0, 1, 0, 1, 0)    0.000000   0.228468      0
11      A  (0, 0, 0, 1, 0, 1, 1)    0.000000   6.630674      0
12      A  (0, 0, 0, 1, 1, 0, 0)    0.000000   0.177289      0
13      A  (0, 0, 0, 1, 1, 0, 1)    0.000000   1.888205      0
14      A  (0, 0, 0, 1, 1, 1, 0)    0.000000   0.482865      0
15      A  (0, 0, 0, 1, 1, 1, 1)    0.000000  10.561605      0
16      A  (0, 0, 1, 0, 0, 0, 0)    0.000000   0.125000      0
17      A  (0, 0, 1, 0, 0, 0, 1)    0.000000   0.632708      0
18      A  (0, 0, 1, 0, 0, 1, 0)    0.000000   0.165418      0
19      A  (0, 0, 1, 0, 0, 1, 1)    0.000000   3.267833      0
20      A  (0, 0, 1, 0, 1, 0, 0)    0.000000   0.088331      0
21      A  (0, 0, 1, 0, 1, 0, 1)    0.000000   0.946732      0
22      A  (0, 0, 1, 0, 1, 1, 0)    0.000000   0.176169      0
23      A  (0, 0, 1, 0, 1, 1, 1)    0.000000   4.103346      0
24      A  (0, 0, 1, 1, 0, 0, 0)    0.000000   0.029277      0
25      A  (0, 0, 1, 1, 0, 0, 1)    0.000000   0.287899      0
26      A  (0, 0, 1, 1, 0, 1, 0)    0.000000   0.029926      0
27      A  (0, 0, 1, 1, 0, 1, 1)    0.000000   1.838900      0
28      A  (0, 0, 1, 1, 1, 0, 0)    0.000000   0.040305      0
29      A  (0, 0, 1, 1, 1, 0, 1)    0.000000   0.642765      0
..    ...                    ...         ...        ...    ...
226     B  (1, 1, 0, 0, 0, 1, 0)   86.844538   0.011515      1
227     B  (1, 1, 0, 0, 0, 1, 1)   56.187817   0.177975     10
228     B  (1, 1, 0, 0, 1, 0, 0)         NaN   0.000000      0
229     B  (1, 1, 0, 0, 1, 0, 1)   88.879965   0.067507      6
230     B  (1, 1, 0, 0, 1, 1, 0)         NaN   0.000000      0
231     B  (1, 1, 0, 0, 1, 1, 1)   51.632590   0.348617     18
232     B  (1, 1, 0, 1, 0, 0, 0)         NaN   0.000000      0
233     B  (1, 1, 0, 1, 0, 0, 1)   86.976940   0.022995      2
234     B  (1, 1, 0, 1, 0, 1, 0)    0.000000   0.015307      0
235     B  (1, 1, 0, 1, 0, 1, 1)   67.710761   0.118150      8
236     B  (1, 1, 0, 1, 1, 0, 0)         NaN   0.000000      0
237     B  (1, 1, 0, 1, 1, 0, 1)  100.601459   0.029821      3
238     B  (1, 1, 0, 1, 1, 1, 0)   73.803965   0.027099      2
239     B  (1, 1, 0, 1, 1, 1, 1)   72.215232   0.180017     13
240     B  (1, 1, 1, 0, 0, 0, 0)         NaN   0.000000      0
241     B  (1, 1, 1, 0, 0, 0, 1)   79.763011   0.012537      1
242     B  (1, 1, 1, 0, 0, 1, 0)  152.093972   0.006575      1
243     B  (1, 1, 1, 0, 0, 1, 1)   55.096751   0.018150      1
244     B  (1, 1, 1, 0, 1, 0, 0)         NaN   0.000000      0
245     B  (1, 1, 1, 0, 1, 0, 1)    0.000000   0.015480      0
246     B  (1, 1, 1, 0, 1, 1, 0)    0.000000   0.001257      0
247     B  (1, 1, 1, 0, 1, 1, 1)  131.107414   0.038137      5
248     B  (1, 1, 1, 1, 0, 0, 0)         NaN   0.000000      0
249     B  (1, 1, 1, 1, 0, 0, 1)         NaN   0.000000      0
250     B  (1, 1, 1, 1, 0, 1, 0)   78.438271   0.012749      1
251     B  (1, 1, 1, 1, 0, 1, 1)   24.439043   0.040918      1
252     B  (1, 1, 1, 1, 1, 0, 0)         NaN   0.000000      0
253     B  (1, 1, 1, 1, 1, 0, 1)   56.608095   0.017665      1
254     B  (1, 1, 1, 1, 1, 1, 0)  139.225532   0.007183      1
255     B  (1, 1, 1, 1, 1, 1, 1)   81.578665   0.073549      6

[256 rows x 5 columns]

In [28]:
scoreBic(model, data, t_max)

3558.4739531609343

In [30]:
# keep forward result in memory
forward_model = copy.deepcopy(model)

## BackwardSearch(Forward)

In [31]:
initModelFromData(model=model, observed_data=data, t_max=t_max)
count_duration_df = get_count_duration_df(model=model, data=data, t_max=t_max)

count_duration_df = mle_lambdas(model, count_duration_df)
LogL = compute_logLikelihood(lambdas_count_duration_df)
log_td = np.log(t_max)

size_log_td = model.size() * log_td

score = LogL - size_log_td
local_maximum = False

In [32]:
score

3558.4739531609343

In [33]:
it = 0
backward_logs = []
local_maximum = False

while not local_maximum:
    #     max_ngbr_score = -np.inf
    local_maximum = True
    max_score_ngbr = -np.inf
    max_op = None
    max_args = None
    max_changed_node_cnt_drt_df = None
    max_size_log_td_ngbr = None
    max_LogL_ngbr = None
    print('iteration number: {}: scoreBIC = {}'.format(it, score))
    for ngbr_info in backward_neighbors_gen(model, data, t_max, lambdas_count_duration_df,LogL, size_log_td, log_td,):

        op, args, LogL_ngbr, size_log_td_ngbr, changed_node_cnt_drt_df = ngbr_info
        score_ngbr = LogL_ngbr - size_log_td_ngbr

#         if score_ngbr > max_score_ngbr:
        max_score_ngbr = score_ngbr
        max_op = op
        max_args = args
        max_changed_node_cnt_drt_df = changed_node_cnt_drt_df
        max_size_log_td_ngbr = size_log_td_ngbr
        max_LogL_ngbr = LogL_ngbr

        if max_score_ngbr > score:
            print('max ngbr {}, args={}, max_scoreBIC = {}'.format(max_op, max_args, max_score_ngbr))

            max_op(*max_args)
            LogL = max_LogL_ngbr
            size_log_td = max_size_log_td_ngbr
            changed_node = max_changed_node_cnt_drt_df.iloc[0]['event']
            lambdas_count_duration_df = lambdas_count_duration_df[lambdas_count_duration_df['event'] != changed_node]
            lambdas_count_duration_df = pd.concat([lambdas_count_duration_df, max_changed_node_cnt_drt_df])

            local_maximum = False
            score = max_score_ngbr
            op_name = 'supprimerArc'

            if max_op == model.inverse_extend_operator:
                op_name = 'reduireIntervalle'
            # pd.Dataframe(columns=['it', 'T_A', 'T_B', 'edges', 'max_ngbr', 'scoreBic'])
            if max_op == model.inverse_split_operator:
                op_name = 'FusionnerIntervalle'

            backward_logs.append([it, copy.deepcopy(model.get_node_parents_timescales('A')),\
                                 copy.deepcopy(model.get_node_parents_timescales('B')),\
                                 list(model.dpd_graph.edges()),\
                                 op_name,\
                                 max_args,\
                                 score])
            break
    it += 1

iteration number: 0: scoreBIC = 3558.4739531609343
max ngbr <bound method RTGEM.inverse_extend_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('A', 'A')], max_scoreBIC = 3848.920694451631
iteration number: 1: scoreBIC = 3848.920694451631
max ngbr <bound method RTGEM.inverse_extend_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('A', 'A')], max_scoreBIC = 3989.1780797650194
iteration number: 2: scoreBIC = 3989.1780797650194
max ngbr <bound method RTGEM.inverse_extend_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('A', 'A')], max_scoreBIC = 4060.9253456399074
iteration number: 3: scoreBIC = 4060.9253456399074
max ngbr <bound method RTGEM.inverse_extend_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('A', 'A')], max_scoreBIC = 4096.930745298885
iteration number: 4: scoreBIC = 4096.930745298885
max ngbr <bound method RTGEM.inverse_extend_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('A', 'A')], max_scoreBIC = 4114.323760724026
iteration number: 5: scoreBIC = 4114.323760724026
max ngbr <bound method RTGEM.inverse_extend_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('A', 'A')], max_scoreBIC = 4122.81602914561
iteration number: 6: scoreBIC = 4122.81602914561
max ngbr <bound method RTGEM.inverse_extend_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('B', 'B')], max_scoreBIC = 4410.664549513978
iteration number: 7: scoreBIC = 4410.664549513978
max ngbr <bound method RTGEM.inverse_extend_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('B', 'B')], max_scoreBIC = 4553.616283446147
iteration number: 8: scoreBIC = 4553.616283446147
max ngbr <bound method RTGEM.inverse_extend_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('B', 'B')], max_scoreBIC = 4625.475360284597
iteration number: 9: scoreBIC = 4625.475360284597
max ngbr <bound method RTGEM.inverse_extend_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('B', 'B')], max_scoreBIC = 4661.606082738056
iteration number: 10: scoreBIC = 4661.606082738056
max ngbr <bound method RTGEM.inverse_extend_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('B', 'B')], max_scoreBIC = 4679.897556872564
iteration number: 11: scoreBIC = 4679.897556872564
max ngbr <bound method RTGEM.inverse_extend_operator of <rtgemlib.rtgem.RTGEM object at 0x000002187BFD3E48>>, args=[('B', 'B')], max_scoreBIC = 4689.082120988229
iteration number: 12: scoreBIC = 4689.082120988229

In [35]:
model.dpd_graph.edges

OutEdgeView([('A', 'A'), ('B', 'B')])

In [39]:
initModelFromData(model=model, observed_data=data, t_max=t_max)

In [40]:
count_duration_df = get_count_duration_df(model=model, data=data, t_max=t_max)

In [41]:
count_duration_df

  event   pcv  lambda_t   duration  count
0     A  (0,)  2.962653  89.531374      0
1     A  (1,)  1.157624  10.468626    700
2     B  (0,)  2.434865  88.665337      0
3     B  (1,)  6.123340  11.334663    767

In [42]:
mle_lambdas(model, count_duration_df)

  event   pcv   lambda_t   duration  count
0     A  (0,)   0.000000  89.531374      0
1     A  (1,)  66.866463  10.468626    700
2     B  (0,)   0.000000  88.665337      0
3     B  (1,)  67.668534  11.334663    767